@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-gray-900 bg-gray-50;
  }
  html.dark {
    @apply text-gray-50 bg-gray-900;
  }
  body {
    font-family: 'Roboto', sans-serif;
    @apply antialiased;
  }
}

/* Custom range slider for gold theme */
.range-gold::-webkit-slider-runnable-track {
  background: #facc15; /* gold-400 */
  border-radius: 0.5rem;
  height: 0.5rem;
}

.range-gold::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 1rem;
  height: 1rem;
  background: #d97706; /* gold-700 */
  border-radius: 50%;
  cursor: pointer;
  margin-top: -0.25rem; /* Adjust to center the thumb vertically */
}

.range-gold::-moz-range-track {
  background: #facc15; /* gold-400 */
  border-radius: 0.5rem;
  height: 0.5rem;
}

.range-gold::-moz-range-thumb {
  width: 1rem;
  height: 1rem;
  background: #d97706; /* gold-700 */
  border-radius: 50%;
  cursor: pointer;
}

/* Dark mode adjustments */
.dark .range-gold::-webkit-slider-runnable-track {
  background: #a16207; /* gold-800 */
}

.dark .range-gold::-webkit-slider-thumb {
  background: #facc15; /* gold-400 */
}

.dark .range-gold::-moz-range-track {
  background: #a16207; /* gold-800 */
}

.dark .range-gold::-moz-range-thumb {
  background: #facc15; /* gold-400 */
}
